/* ----------------переменные---------------- */
:root {
  --primery-text-color: #757575;
  --accent: #2196f3;
  --title-text-color: #212121;
  --primeri-white-color: #ffffff;
  --optional-bt-color: #f5f4fa;
  --tranparanted: rgba(255, 255, 255, 0.6);
  --pouring: #2f303a;
}
